<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dholi_PayU::payment"
             title="PayU"
             module="Dholi_PayU"
             action="adminhtml/system_config/edit/section/payment"
             parent="Dholi_Core::Menu"
             resource="Magento_Payment::payment"
             sortOrder="500"/>
    </menu>
</config>