<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="payment">
			<group id="dholi_payments">
				<include path="Dholi_PayU::system/basic.xml"/>
				<include path="Dholi_PayU::system/cc.xml"/>
				<include path="Dholi_PayU::system/boleto.xml"/>
				<include path="Dholi_PayU::system/baloto.xml"/>
				<include path="Dholi_PayU::system/efecty.xml"/>
			</group>
		</section>
	</system>
</config>