<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Dholi\PayU\Model\Ui\ConfigProvider">
		<arguments>
			<argument name="config" xsi:type="object">Dholi\PayU\Gateway\Config\Config</argument>
		</arguments>
	</type>
	<type name="Dholi\PayU\Model\Ui\Boleto\ConfigProvider">
		<arguments>
			<argument name="config" xsi:type="object">Dholi\PayU\Gateway\Config\Config</argument>
			<argument name="boletoConfig" xsi:type="object">Dholi\PayU\Gateway\Config\Boleto\Config</argument>
		</arguments>
	</type>
	<type name="Dholi\PayU\Model\Ui\Cc\ConfigProvider">
		<arguments>
			<argument name="config" xsi:type="object">Dholi\PayU\Gateway\Config\Config</argument>
			<argument name="ccConfig" xsi:type="object">Dholi\PayU\Gateway\Config\Cc\Config</argument>
		</arguments>
	</type>

	<type name="Magento\Checkout\Model\CompositeConfigProvider">
		<arguments>
			<argument name="configProviders" xsi:type="array">
				<item name="dholi_payments_payu_config_provider" xsi:type="object">Dholi\PayU\Model\Ui\ConfigProvider</item>
				<item name="dholi_payments_payu_boleto_config_provider" xsi:type="object">Dholi\PayU\Model\Ui\Boleto\ConfigProvider</item>
				<item name="dholi_payments_payu_cc_config_provider" xsi:type="object">Dholi\PayU\Model\Ui\Cc\ConfigProvider</item>
			</argument>
		</arguments>
	</type>
</config>