<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<dholi_payments_payu>
				<model>DholiPayUPaymentFacade</model>
				<active>0</active>
				<debug>1</debug>
				<order_status>pending</order_status>
				<allowspecific>1</allowspecific>
				<specificcountry>BR</specificcountry>
				<environment>production</environment>
				<receipt>A</receipt>
			</dholi_payments_payu>
			<dholi_payments_payu_boleto>
				<model>DholiPayUPaymentBoletoFacade</model>
				<title><![CDATA[Boleto Bancário]]></title>
				<active>0</active>
				<debug>0</debug>
				<is_gateway>1</is_gateway>
				<can_use_internal>0</can_use_internal>
				<can_use_checkout>1</can_use_checkout>
				<can_initialize>1</can_initialize>
				<can_authorize>1</can_authorize>
				<can_capture>1</can_capture>
				<can_cancel>1</can_cancel>
				<can_void>1</can_void>
				<can_details>1</can_details>
				<payment_action>initialize</payment_action>
				<expiration>1</expiration>
				<currency>BRL</currency>
				<instructions><![CDATA[O vencimento do boleto será amanhã ou no próximo dia útil em caso de feriados ou finais de semana.
				O boleto bancário estará disponível para impressão na página de Confirmação do Pedido.
				O prazo de entrega passará a valer a partir do momento em que o banco confirmar o pagamento do boleto. O processo poderá levar até 72h.]]>
				</instructions>
				<cancelable>1</cancelable>
				<cancel_on_friday>6</cancel_on_friday>
				<cancel_on_saturday>5</cancel_on_saturday>
				<cancel_on_sunday>4</cancel_on_sunday>
				<sort_order>3</sort_order>
			</dholi_payments_payu_boleto>
			<dholi_payments_payu_cc>
				<model>DholiPayUPaymentCcFacade</model>
				<title><![CDATA[Cartão de Crédito]]></title>
				<active>0</active>
				<debug>0</debug>
				<icon>none</icon>
				<is_gateway>1</is_gateway>
				<can_use_internal>0</can_use_internal>
				<can_use_checkout>1</can_use_checkout>
				<can_initialize>1</can_initialize>
				<can_authorize>1</can_authorize>
				<can_capture>1</can_capture>
				<can_void>1</can_void>
				<can_cancel>1</can_cancel>
				<can_details>1</can_details>
				<payment_action>initialize</payment_action>
				<currency>BRL</currency>
				<min_installment>9.00</min_installment>
				<total_installmens>12</total_installmens>
				<installmens_without_interest>3</installmens_without_interest>
				<discount>0</discount>
				<interest>1.99</interest>
				<sort_order>4</sort_order>
			</dholi_payments_payu_cc>
		</payment>
	</default>
</config>