<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_model_service_quote_submit_before">
		<observer name="dholi_payu_total" instance="Dholi\PayU\Observer\Frontend\Quote\Address\QuoteAddressToOrderObserver"/>
	</event>

	<event name="payment_method_assign_data_dholi_payments_payu_cc">
		<observer name="dholi_payu_cc_gateway_data_assign" instance="Dholi\PayU\Observer\PayUCcDataAssignObserver"/>
	</event>
</config>